.post-left{
    display: inline-block;
    max-width: 90vw;
}

.post-list{
    justify-content:space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:1em;
}

.post-abstract{
    max-width: 100vh;
    white-space:pre;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#ccc;
    font-size: 1em;
    margin-top:.3em;
}

.post-title{
    font-size: 2em;
}
.post-title a{
    color:#333;
    text-decoration: none;
    text-shadow: #aaa 2px 2px 4px;
}

.post-right{
    min-width: 0;
    max-width: 30vw;
    display: inline-block;
    float: right;
}

.post-tags{
    white-space:pre;
    text-overflow: ellipsis;
    overflow: hidden;
}