.posts-main{
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:var(--contentw);
    margin:8rem auto 1rem auto;
    max-width: var(--maxw);
    color:var(--text-color);
}

.posts-header{
    width:var(--contentw);
    font-size:44px;
    font-weight: 700;
}

.posts-item-top{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap:2rem;
    flex-wrap: wrap;
}

.posts-item-title{
    font-size:34px;
    font-weight: 400;
}

.posts-item-date{
    color:#666;
}

.posts-item{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin:2rem 0;
}

.tag-item{
    display: inline-block;
    background-color:white;
    cursor:pointer;
    opacity: .5;
    border-radius: 9999px;
    border: solid 2px;
    font-size: 15px;
    text-align: center;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    padding:3px 10px 6px 10px;
    margin:0px 5px;
    transition: opacity,background-color 300ms ease-in-out;
}

.tag-item:hover{
    background-color: #eee;
    opacity: 1;
    transition: opacity,background-color 300ms ease-in-out;
}