.tree-wrapper{
    /*z-index: 10;*/
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-width: 110vh;
    /*height:92vh;*/
}

.tree{
    /*position: fixed;*/
    /*top:0;*/
    /*left:50vw;*/
    cursor:pointer;
    width:7.5vw;
    height:60px;
}

.tree-panel{
    align-self: flex-start;
}

.tree-body{
    position:fixed;
    top:100px;
    left:0;
    z-index:2;
}

.tree-body::after{
    position: fixed;
    top:100px;
    left:3vw;
    z-index: 1;
    content:'';
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.9);
    filter: blur(4px);
    width:57vw;
    height:80vh;
}

.tree-content{
    width:57vw;
    height:80vh;
    position: fixed;
    top:100px;
    left:3vw;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nodes-horizontal{
    min-width: 100px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nodes-node{
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-svg{
    z-index:0;
    position: fixed;
    left:0;
    top:0;
    width:60vw;
    height:100vh;
}

.tree-node-input input{
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    border-width: 0;
}
.tree-node-input input:focus{
    outline: none;
}

.blink{
    animation:twinkling 1s infinite ease-in-out;
}

@keyframes twinkling{
    0%{
        background-color: #ddd;
        opacity: 0.5;
    }

    50%{
        background-color: #eee;
        opacity: 0.75;
    }

    100%{
        background-color: transparent;
        opacity: 1;
    }
}