* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    /*padding: 20px;*/
}


.layout-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

